footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:12px;   
  color: black;
  background-color: rgba(0,0,0,.3);
  z-index: 1000;
  font-size: 0.7em;
  text-align: right;
  padding-right:20px;
  padding-bottom: 16px;
}

.connecting-line {
    height: 10px;
    background: #e0e0e0;
    position: absolute;
    width: auto;
    margin: 0 auto;
    left: 20px;
    right: 0;
    top: 20px;
    z-index: 0;
}

#wizard-tabs.nav-pills>li>a {
    background: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

#wizard-tabs.nav-pills>li {
  height: 50px;
  background: #ccc;
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
  margin: 0px 75px 0px 0px;
}

#wizard-tabs.nav-pills>li.active {
  background: #337ab7;
  cursor: not-allowed;
}

#wizard-tabs.nav-pills>li:after {
  content: '';
  position: absolute;
  cursor: not-allowed;
  pointer-events: none;
  left: 0; bottom: 0; width: 0; height: 0;
  border-left: 25px solid transparent;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

#wizard-tabs.nav-pills>li:before {
  content: '';
  position: absolute;
  cursor: not-allowed;
  pointer-events: none;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid #ccc;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

#wizard-tabs.nav-pills>li.active:before {
  border-left: 25px solid #337ab7;
  pointer-events: none;
  cursor: not-allowed;
}

#wizard-tabs.nav-pills>li>a, #wizard-tabs.nav-pills>li>a:focus, #wizard-tabs.nav-pills>li>a:hover {
  border-top-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}

#wizard-tabs.nav-pills>li>a, #wizard-tabs.nav-pills>li>a:focus, #wizard-tabs.nav-pills>li>a:hover {
  background-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}